
.content {
  position: absolute;
  margin-left: 500px;
  transform: translateY(-50%);
  text-align: left;
  width: 400px;
  height: 500px;
  overflow: scroll;
  background: white;
  z-index: 1;
  padding: 20px;
  border-radius: 5px;
  color: gray;
}

img {
  width: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.story-title {
  text-align: center;
  color: rgb(100, 200, 400);
}

.story-paragraph {
  margin-top: 10px;
}


span.quote {
  font-style: italic;
  font-family: times;
}

div.span {
  width: 300px;
  margin-left:20px;
  margin-top: 10px;
}

.hide-bottom {
  width: 400px;
  height: 60px;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: lightblue;
  font-size: 14px;
  font-style: italic;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.9) 70%, rgba(237,237,237,0.5) 100%);
}

.hide-bottom p {
  margin-top: 30px;
}
